

.jumbotron {
  padding:50px 30px;
  margin:0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left !important;
  background-size: cover;
  width: 1;
  
  color:black !important;

}

.navbar navbar-expand-md navbar-light{
  position: absolute;
  background-color: rgb(23, 53, 226);
  color:black;
  justify-content: right;
  
}

.dropdownMenu {
  background-color: white;
  margin:0px auto;
  color:black
}

.nav-link {
  background-color: white;
  margin:0px auto;
  color:black
}

.text-center {
  vertical-align: text-top;
}

.header{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -2.5rem;
}

.list-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -2.5rem;
}